

<div class="container ">
    
    <footer>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h2>Thông tin</h2>
                <p>Địa chỉ: Phúc Diễn, Bắc Từ Liên, Hà Nội</p>
                <p>Hotline: 0862144338</p>
                <p>Email: vantrung1242005@gmail.com</p>
                <p>Đại diện bởi: Nguyễn Văn Trung</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h2>Chính sách mua hàng</h2>
                <p>Chính sách mua hàng</p>
                <p>Chính sách bảo hành</p>
                <p>Chính sách đổi trả</p>
                <p>Chính sách thanh toán</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h2>Danh mục</h2>
                <p>Chia sẻ kinh nghiệm</p>
                <p>Hướng dẫn ép đẻ cá cảnh</p>
                <p>Chăm sóc cá cảnh</p>
                <p>Đổi trả</p>
            </div>
        </div>
    </footer>
    
</div>

</body>
</html>